body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#caratula {
    background: white;
    width: 80%;
    max-width: 900px;
    margin-top: 40px;
    padding: 40px 50px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    border-radius: 12px;
    text-align: center;
}


#caratula h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a1a1a;
    letter-spacing: 2px;
}

#nombre-alumno, #anio2, #nombre-profesor, #materia-nombre {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

#alumno , #anio, #profesor, #materia {
    font-weight: bold;
    margin-top: 25px;
    text-transform: uppercase;
    color: #004aad;
    margin-bottom: 10px;  

}

#aviso {
    width: 80%;
    max-width: 900px;
    margin-top: 30px;
    text-align: justify;
    background: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#aviso p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}